<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Atendimentos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_lista_atendimentos.css') }}">
</head>
<body>
    <!-- Barra de pesquisa -->
    <form action="{{ url_for('buscar_atendimentos') }}" method="GET">
        <input type="text" name="query" placeholder="Buscar atendimentos...">
        <input type="submit" value="Buscar">
    </form>

    <!-- Lista de atendimentos -->
    <h1>Lista de Atendimentos</h1>
    <ul>
        {% for atendimento in atendimentos %}
            <li>{{ atendimento.empresa }} - {{ atendimento.cliente }} - {{ atendimento.atendente }}
                <a href="{{ url_for('visualizar_observacao', id=atendimento.id) }}">Visualizar Observação</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('baixar_atendimentos_xlsx') }}" class="btn-download">Baixar Dados dos Atendimentos em XLSX</a>

    <!-- Botão de voltar ao menu -->
    <a href="{{ url_for('pagina_inicial') }}" class="btn-voltar">Voltar ao Menu</a>
</body>
</html>
