<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style_novo_atendimento.css') }}">

    <title>Novo Atendimento</title>
</head>
<body>
    <h1>Novo Atendimento</h1>
    <form action="{{ url_for('novo_atendimento') }}" method="POST">
        <label for="empresa">Empresa:</label><br>
        <input type="text" id="empresa" name="empresa"><br>
        <label for="cliente">Cliente:</label><br>
        <select id="cliente" name="cliente">
            {% for cliente in clientes %}
            <option value="{{ cliente.nome }}">{{ cliente.nome }}</option>
            {% endfor %}
        </select><br>
        <label for="atendente">Atendente:</label><br>
        <select id="atendente" name="atendente">
            {% for colaborador in colaboradores %}
            <option value="{{ colaborador }}">{{ colaborador }}</option>
            {% endfor %}
        </select><br>
        <label for="observacao">Observação:</label><br>
        <textarea id="observacao" name="observacao"></textarea><br>
        <input type="submit" value="Registrar Atendimento">
    </form>
    <a href="{{ url_for('listar_atendimentos') }}">Voltar para a lista de atendimentos</a>
</body>
</html>
