<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style_visualizar_observacao.css') }}">

    <title>Observação Completa do Atendimento</title>
</head>
<body>
    <h1>Observação Completa do Atendimento</h1>
    <p><strong>Empresa:</strong> {{ atendimento.empresa }}</p>
    <p><strong>Cliente:</strong> {{ atendimento.cliente }}</p>
    <p><strong>Atendente:</strong> {{ atendimento.atendente }}</p>
    <p><strong>Observação:</strong> {{ atendimento.observacao }}</p>
    <p><strong>Data e Hora:</strong> {{ atendimento.data_hora.strftime('%d/%m/%Y %H:%M:%S') }}</p>
    <a href="{{ url_for('listar_atendimentos') }}">Voltar para a lista de atendimentos</a>
</body>
</html>
